@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

*{
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 15%, 48%);
}

.heading{
    font-family: 'Young Serif', sans-serif;
    color: hsl(14, 45%, 36%);
    font-size: 23px;
    font-weight: 400;
    margin: 0;
}

ul li{
    list-style: disc;
    color: hsl(332, 51%, 32%);

}

ol li{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

body {
    background-color:  hsl(30, 54%, 90%);;
    min-height: 100vh;
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Align content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin: 0;
}

main{
    background-color: hsl(0, 0%, 100%);
    /* padding: 16px 16px 40px 16px; */
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    max-width: 600px;

}

img{
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
}

.h1{
    font-size: 30px;
    line-height: 21px;
    color: hsl(218, 44%, 22%);
    margin-top: 2.1rem;
    margin-bottom: 1.3rem;
    font-weight: 400;
    line-height: 35px;
}

main p{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}

main .prepare{
    background-color: hsl(330, 100%, 98%);
    margin: 20px 0;
    border-radius: 4px;
    padding: 20px
}

main .text{
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

.step{
    font-weight: 700;
    color: hsl(24, 5%, 18%);
}

main .prepare .spanA{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    margin-left: 15px;
    font-size: 18px;
}

main .section{
    padding-top: 15px;
    padding-bottom: 8px;
}

main .section1 .ingredients-list li:last-child{
    padding-bottom: 15px;
}

main .section1 .ingredients-list{
    border-bottom: 1px solid  hsl(30, 18%, 87%);
}


main .section2 ol li:last-child{
    padding-bottom: 15px;
}

main .section2 ol{
    border-bottom: 1px solid  hsl(30, 18%, 87%);
}

main .section3  p{
    margin-top: 15px;
    margin-bottom: 15px;
}

main .section3 table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

main .section3  table tr{
    width: 100%;
    min-width: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  hsl(30, 18%, 87%);
   
    
}

main .section3  table tr td{
    padding-top: 15px;
    padding-bottom: 15px;
}

main .section3  table tr td:last-child{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

main .section .menu li {
    line-height: 22px;
}

main ul li {
    margin-bottom: 0.8rem;
    line-height: 30px;
    font-size: 15px;
}

main ol li {
    margin-bottom: 0.8rem;
    font-size: 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex;
    align-items: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 425px) {
    

    main .prepare{
        padding: 15px;
    }

    main .prepare .spanA{
        font-size: 16px;
    }

    main .heading{
        font-size: 21px;
    }
    main .h1{
        font-size: 1.8rem;
    }
}
